<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome" routerLinkActive="active-link"
               [routerLinkActiveOptions]="{ exact: true }">Welcome</a>
          </li>
          <li nz-submenu nzOpen nzTitle="Districts">
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a routerLink="/districts" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">My
                  Districts</a>
              </li>
              <li nz-menu-item nzMatchRouter>
                <a routerLink="/districts/add" routerLinkActive="active-link"
                   [routerLinkActiveOptions]="{ exact: true }">Add District</a>
              </li>
            </ul>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/schools" routerLinkActive="active-link"
               [routerLinkActiveOptions]="{ exact: true }">Schools</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/exams" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Exams</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/grades" routerLinkActive="active-link"
               [routerLinkActiveOptions]="{ exact: true }">Grades</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/questions" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Questions</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/answers" routerLinkActive="active-link"
               [routerLinkActiveOptions]="{ exact: true }">Answers</a>
          </li>
        </ul>
      <li nz-submenu nzOpen nzTitle="Account" nzIcon="form">
        <ul *ngIf="!isLoggedIn">
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/account/login" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Login</a>
          </li>
        </ul>
        <ul *ngIf="isLoggedIn">
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/account/logout" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Logout</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
                  nz-icon
                  [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
